
body {
  background-color: hsl(216, 12%, 8%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: hsl(0, 0%, 100%);
}

.card{
  background-color: hsl(213, 19%, 18%);
  display: flex;
  flex-direction: column;
  width: 350px;
  height: auto;
  justify-content: center;
  border-radius: 30px;
  padding: 30px;
  background-image: linear-gradient(#00000046 5.66%, #1c1b3a4b 94.35%);
} 

.symbol{
  display: flex;
  color: hsl(25, 97%, 53%);
  align-items: center;
  justify-content: center;
  background-color: hsl(213, 19%, 18%);
  width: 40px;
  height: 40px;
  border-radius: 100px;
}

.symbol-container {
  display: flex;
  align-items: center;
  justify-content: left;
}

.card-text p {
  color: hsl(217, 12%, 63%);
}

.ratings {
  display: flex;
  list-style: none;
  padding-left: 0;
  align-items: center;
  justify-content: space-between;
}

.ratings li {
  font-size: large;
  background-color: hsl(213, 19%, 18%);
  color: hsl(216, 12%, 54%);
  height: 55px;
  width: 55px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.ratings li:hover {
  cursor: pointer;
  color: hsl(0, 0%, 100%);
  background-color: hsl(25, 97%, 53%);
}

.card-text {
  display: flex;
  flex-direction: column;
}
.card-text h1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.card-text p {
  margin-top: 10px;
}

.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
  width: 500px;
  height: 45px;
  border-radius: 100px;
  border: none;
  margin-top: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  transition: 0.2s;
}

.submit:hover {
  cursor: pointer;
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
}







